<%- include('../partials/header') %>
    <h1><%=title%></h1>
        <p>Check out my projects on <a href="https://github.com/samebg" target="_blank">GitHub</a>.</p>
        <p>Connect with me professionally on <a href="https://www.linkedin.com/in/sam-ebengho-7b5686214" target="_blank">LinkedIn</a>.</p>
        <p>Explore more about me at my <a href="https://ebengho.site" target="_blank">personal website</a>.</p>
        <p>Feel free to <a href="mailto:samebg@outlook.com">email me</a> with questions or collaboration ideas.</p>
        <p>Always learning, always building — let’s grow together.</p>
<%- include('../partials/footer') %>