<%- include('../partials/header') %>
    <h1><%=title%></h1>
    <p>"To everything there is a season, a time for every purpose under heaven: A time to be born, and a time to die; a time to plant, and a time to pluck what is planted; a time to kill, and a time to heal; a time to break down, and a time to build up; a time to weep, and a time to laugh; a time to mourn, and a time to dance." - Ecclesiastes 3:1-4 (NKJV)</p>
    <p>"Remember now your Creator in the days of your youth, before the difficult days come, and the years draw near when you say, 'I have no pleasure in them.'" - Ecclesiastes 12:1 (NKJV)</p>
    <p>"Let us hear the conclusion of the whole matter: Fear God and keep His commandments, for this is man's all. For God will bring every work into judgment, including every secret thing, whether good or evil." - Ecclesiastes 12:13-14 (NKJV)</p>
    <p>"The words of the wise are like goads, and the words of scholars are like well-driven nails, given by one Shepherd." - Ecclesiastes 12:11 (NKJV)</p>
    <p>"Cast your bread upon the waters, for you will find it after many days." - Ecclesiastes 11:1 (NKJV)</p>
<%- include('../partials/footer') %> 