<%- include('../partials/header.ejs') %>
<main class="container mt-4">
    <h2><%=title%></h2>
    <img src="https://raw.githubusercontent.com/samebg/express-ejs/refs/heads/main/public/images/Image_Business_Mobile-Banking-Icon_Business-Sole-Prop.jpg" alt="Profile" width="200" height="150">
    <img src="https://raw.githubusercontent.com/samebg/express-ejs/refs/heads/main/public/images/Meonalaptop.jpg" alt="Profile" width="200" height="150">
    <img src="https://raw.githubusercontent.com/samebg/express-ejs/refs/heads/main/public/images/Spursblue.png" alt="Profile" width="200" height="150">
    <img src="https://raw.githubusercontent.com/samebg/express-ejs/refs/heads/main/public/images/wu-tang-clan-logo-pgyycato4g8hkzlw.jpg" alt="Profile" width="200" height="150">
    <img src="photo.jpg" alt="Profile" width="200" height="150">
</main>
<%- include('../partials/footer.ejs') %>