<%- include('../partials/header.ejs') %>
<main class="container mt-4">
    <h2><%=title%></h2>
    <p>Clever content goes here</p>
    <p>Clever content goes here</p>
    <p>Clever content goes here</p>
    <p>Clever content goes here</p>
    <p>Clever content goes here</p>
</main>
<%- include('../partials/footer.ejs') %>